<%- include("header") -%>
<%- include("googleMapsScript") -%>
<%- include("navbar") -%>
<div class="d-flex flex-row align-items-stretch">
    <%- include("pesquisa") -%>
    <%- include("googleMaps") -%>
</div>
<%- include("footer") -%>